# Core dependencies
python-dotenv
pydantic
typing-extensions

# LangChain ecosystem
langchain
langchain-community
langchain-core
langfuse
langgraph
langsmith
langchain-openai
langchain-ollama 
langchain-google-genai
langchain_qdrant
langchain_mcp_adapters

# DeepAgents
deepagents

# Document processing
pymupdf
pymupdf4llm
docling

# Vector stores & embeddings
fastembed
sentence_transformers

# API clients
ollama
google-genai

# Utilities
jupyter
nest_asyncio
langgraph-checkpoint-sqlite

### Copy and install with support CUDA run on GPU
# uv pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu124
